/* ======================
   PART A: BOX MODEL
====================== */

.box1 {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid blue;
    margin: 20px;
    background-color: lightblue;
}

.box2 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 3px solid green;
    margin: 30px;
    background-color: lightgreen;
}

.box3 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 20px;
    background-color: pink;
    box-sizing: border-box;  /* Required */
}

/* ======================
   PART C: DISPLAY
====================== */

.block {
    display: block;
    background-color: yellow;
    margin: 10px 0;
}

.inline {
    display: inline;
    background-color: orange;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: lightcoral;
}

.none {
    display: none;
}

/* ======================
   PART D: VISIBILITY
====================== */

.hidden {
    visibility: hidden;
    background-color: gray;
}

.visible {
    background-color: lightgray;
}
