
h1, h2 {
    color: blue;
    font-size: 24px; 
}

div p {
    color: green;
    font-size: 1.2em; 
}


.box {
    width: 300px;        
    height: 5cm;         
    margin: 10mm;        
    background-color: lightgray;
    padding: 10px;
}

.container {
    width: 50%;          
    padding: 2rem;       
    margin-bottom: 5vh;  
    background-color: #f2f2f2;
}

input[type="text"] {
    border: 2px solid blue;
    padding: 10px;
    width: 50%;
}

a:hover {
    color: red;
}

input:focus {
    background-color: lightyellow;
}

button:active {
    background-color: orange;
}